<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body >
    <h1>Esto es en listado.html</h1>
    <form action="https://localhost:44375/api/PersonalUploading" method="post"
          enctype="multipart/form-data">
        <div>
            <label for="img">Image file</label>
            <input type="file" name="img" value="" />
        </div>
        <div>
            <input type="submit" name="name" value="Submit" />
        </div>
    </form>
</body>
</html>